<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sri Vaishnavi Transport Company</title><link rel="icon" type="image/png" href="/app/images/SRI VAISHNAVI icon.png" />
 <script src="../js/logout.js" type="text/javascript"></script> 
<!-- Bootstrap Styles-->
  

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css' />
 
<!--  <link href="../css/styles.css" media="all" rel="stylesheet"> -->
 <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
 <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
 
 <script src="../js/jquery-1.4.1.js" type="text/javascript"></script>
<link href="../css/bootstrap.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="../css/font-awesome.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/82d7bbb080.js"></script>
<!-- Morris Chart Styles-->
   
<link href="../js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<!-- Custom Styles-->
<link href="../css/custom-styles.css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- Google Fonts-->
<script src="../js/add_factory_dispatch.js" type="text/javascript"></script>
<script src="../js/get_unload_location.js" type="text/javascript"></script>
<!-- <script src="../js/getLoginUserDetails.js" type="text/javascript"></script> -->


</head>
<body onLoad="queryString(); currentDate();userDetails();">
	<div id="wrapper">
		<nav class="navbar navbar-default top-navbar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="lg-view">
					Sri Vaishnavi Transport Company</a>
					<a href="#" class="sm-view">
						Svtc</a><!-- <a class="navbar-brand" href="index.html">HOOP</a>-->
			</div>
			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li><a href="#">
								<div>
									<i class="fa fa-wrench fa-fw"></i> settings
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="login.html">
								<div onclick="logout()">
									<i class="fa fa-sign-out fa-fw"></i>Log out
								</div>
						</a></li>
						<!-- /.dropdown -->
					</ul>
		</nav>
		
			<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li><a class="active-menu" href="truck_status.html"><i class="fa fa-user"></i> Status </a>
						</li>
					<li><a href="get_factory_dispatch_report.html"><i class="fa fa-map-o"></i> Report </a>
					</li>
					<li><a href="add_fuel_factory_manager.html"><i class="fa fa-map-o"></i>Fuel </a>
						</li>
				</ul>
			</div>
		</nav>
		
	<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
	<h2 style="text-align: center; text-decoration: underline;">Factory Dispatch</h2>
	<br><br>
		  <div class="form_1">
			<form action="" name="add">
			<div id="loading" class=loader style="display:none;"></div>
		 	<div id="Message" 
					style="color: #0000FF; font-weight: bold; text-align:center;"></div>
					<br>
				<label>Truck Number</label>
				<input type=text name="truck_number" id="truck_number" disabled>
				<br>
				<br>
				<label>Invoice Number</label> 
				<input type="text" id="invoice_number" />
				<input id="btnAdd" type="button" value="Add Invoice" style="position:absolute;margin-left:100px;"/> 
				<br><br>
				<div id="invoice_div" style="display:none;">
				 <label>Invoice Number 2</label> 
				<input type=text name="invoice_number2" id="invoice_number2" placeholder="enter 2nd invoice">
				<br>
				<br>
				</div>

				<div id="numbers" style="display:none;">
				<label>Delivery Number</label> 
				<input type="text" id="delivery_number" />
				<br>
				<br>
				<label>PO Number</label> 
				<input type="text" id="po_number" />
				<br>
				<br>
				</div>
				<div id="numbers2" style="display:none;">
				<label>Delivery Number 2</label> 
				<input type="text" id="delivery_number2" />
				<br>
				<br>
				<label>PO Number 2</label> 
				<input type="text" id="po_number2" />
				<br>
				<br>
				</div>
				<label>Start Location</label> 
				<input type="text" id="start_location" disabled/>
				<br>
				<br>

				<label>Unload Location</label> <SELECT NAME="location_list"
					id="location_list" onchange="locationChange();">
					<option selected="selected" style="display: none">Select</option>
				</SELECT> <input type=hidden id="unload_location_id" disabled>
				<br>
				<br>
				<!-- <div id="unload_loc_id" style="display:none;"> -->
				<label>Location Name</label>
				<input type="text" id="unload_location_name" placeholder="enter Unload location"/>
				<br>
				<br>
				
				<label>Dispatch Date</label> 
				<input type="text" id="dispatch_date" disabled/>
				<br>
				<br>
				<label>Type of Cement</label> <select name="type_of_cement"
					id="type_of_cement">
					<option selected="selected" style="display: none">Select</option>
					<option value="opc">OPC</option>
					<option value="ppc">PPC</option>
					<option value="ultra_fast">Ultra Fast</option>
				</select>
				<br>
				<br>
				<label>Balance</label>
				<input type="text" id="balance" disabled/> 
				<br>
				<br>
				<label>Advance</label>
				<input type="text" id="advance" placeholder="enter in rupees"/> 
				<br>
				<br>
				<!-- <label>Balance</label>
				<input type="text" id="balance" />
				<br><br> -->
				<label>Estimated km</label> 
				<input type="text" id="estimated_km" />
				<br>
				<br>
				<label>Starting meter Reading</label> 
				<input type="text" id="starting_meter_reading" />
				<br>
				<br>
				<!-- <label>Closing meter Reading</label>
				<input type="text" id="closing_meter_reading" />
				<br><br> -->
				<label>Load Quantity</label> 
				<input type="text" id="load_quantity" placeholder="enter in mt"/>
				<br>
				<br>
				<div id="load_quantity_div" style="display:none;">
				<label>Load Quantity 2</label> 
				<input type=text name="load_quantity2" id="load_quantity2" placeholder="2nd invoice quantity">
				<br>
				<br>
				</div>
				<label>Freight </label> 
				<input type="text" id="freight" placeholder="enter in rupees"/>
				<br>
				<br>
				<div id="freight_div" style="display:none;">
				 <label>Freight 2</label> 
				<input type=text name="freight2" id="freight2" placeholder="2nd invoice freight">
				<br>
				<br>
				</div>
				<label>Starting Meter Reading Photo</label> 
				<br>
				<br>
				<input type='file' accept='image/*' onchange='openFilestartingMeterReading(event)'><br>
				<img id='starting_meter_reading_output' style="width:25%;height:25%">
			<!-- 	<div id="fitnessImageBytes"></div> -->
			</form>
			<br>
			<br>
			<button type="button" form="form1" id="insert" value="insert" onclick="addDispatchDetails()">Insert</button>
		</div>
	</div>
	</div>
	</div>
	<!-- /. WRAPPER  -->
		<!-- JS Scripts-->
		<!-- jQuery Js -->

		<script src="../js/jquery-1.10.2.js"></script>
		<!-- Bootstrap Js -->
		<script src="../js/bootstrap.min.js"></script>
		<!-- Metis Menu Js -->
		<script src="../js/jquery.metisMenu.js"></script>
		<!-- Morris Chart Js -->
		<script src="../js/morris/raphael-2.1.0.min.js"></script> <script
			src="../js/morris/morris.js"></script>
		<!-- Custom Js -->
		<script src="../js/custom-scripts.js"></script>
		
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		        
  <script src="../js/jquery-1.10.2.js" type="text/javascript"></script>
      <script src="../js/jquery-ui.js" type="text/javascript"></script>
</body>
</html>