<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
    text-align:center;
    line-height: 140%;
    
}
h2,h3,h4,h5,h6
 {
     padding: 2px;
     margin: 0;
 }
</style>
</head>
<body>

<table align="center" style="width:60%;height:70%;">
  <tr>
    <td colspan="2"><h2>Company Logo</h2></td>
    <td colspan="7"><h3>INVOICE <br>
    TRANSPORATION BILL<br></h3>
     Shop No. 6-52, Chintal, HMT Road,
     Hyderabad - 500 054.<br>
    Phone:23085630 <br>
   <h5> SPO /PUBLIC PARTY /STOCKIEST /INCENTIVE /DIFFERENCE</h5>
    </td>
  </tr>
  <tr><td colspan="2"><h5>Name :Y Srinivas goud</h5></td>
  <td colspan="7"><h5>NAME OF THE TRANSPORTER : SRI VAISHNAVI TRANSPORT COMPANY</h5></td>
  </tr>
  <tr>
  <td colspan="6" style="text-align:left">
  Your Gstin Number: NA <br> PAN NO: AAOPY6793J <BR>
  Tax is Payable On Reverse Charge : YES
  </td>
  <td colspan="2"></td>
  <td colspan="1"></td>
  </tr>
  <tr style="background-color:#96989b">
  <td colspan="6">
  <b>Details of Company (Billed to)</b>
  </td>
  <td colspan="3" ></td>
  </tr>
  <tr>
  <td colspan="6" style="text-align:left"><h5>
  Name: M/s Chettinad Cements Corporation Private Ltd <br>
  Address : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chandapur S.O, Chincholi Taluk, Kalaburgi Dist. <br>
  State:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KARNATAKA <br>
  State Code:&nbsp;&nbsp;26&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  29 <br>
  GSTIN Number: 29AAACC3130A1ZF
  </h5></td>
  <td colspan="3"></td>
  </tr>
  <tr style="background-color:#96989b">
  <td colspan="1"><h5> S.No </h5></td>
  <td colspan="1"><h5> DESCRIPTION OF BILL</h5></td>
  <td colspan="1"><h5> DESTINATION</h5></td>
  <td colspan="1"><h5> QTY IN (MT)</h5></td>
  <td colspan="1"><h5>FREIGHT</h5></td>
  <td colspan="1"><h5> TOTAL</h5></td>
  <td colspan="1"><h5> SHORTAGES</h5></td>
  <td colspan="1"><h5> REMARKS</h5></td>
  <td colspan="1">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</td>
  </tr>
  <tr>
  <td colspan="9"><br>
  <br><br><br><br><br><br><br><br>
  </td>
  
  </tr>
  <tr style="background-color:#96989b">
  <td colspan="9" style="text-align:left"><b>
  Invoice Value(In Words)
  </b></td>
  </tr>
  <tr>
  <td colspan="9">
  <br><br></td>
  </tr>
  <tr style="background-color:#96989b">
  <td colspan="9" style="text-align:left"><b>
  GST is payable by the service recipient
  </b></td>
  </tr>
  <tr style="background-color:#96989b">
  <td colspan="9" style="text-align:left"><b>
  Certified that the Particulars given above are true and correct
 </b> </td>
  </tr >
  <tr style="background-color:#96989b">
  <td colspan="9" style="text-align:right"><h5>
  SRI VAISHNAVI TRANSPORT COMPANY
  </h5></td>
  </tr>
  <tr>
  <td colspan="6"></td>
  <td style="text-align:left" colspan="3"><br>
  Signature:<br>
  <br>
  Name : <br><br>
  </td>
  </tr>
  <tr>
  <td colspan="3" style="border:none"><h4>
  OFFICE USE ONLY
 </h4> </td>
  <td colspan="3" style="border:none">
  <h4>BPA NO
  </h4></td>
  <td colspan="3" style="border:none">
  <h4>DATE</h4>
  </td>
  </tr>
</table>
<br><br><br>
<div id="" style="margin-left:260px;float:left;"><h4>RECIEVED BY</h4></div>
<div id="" style="margin-left:230px;float:left;"><h4>CHECKED BY</h4></div>
<div id="" style="margin-left:230px;float:left;"><h4>APPROVED BY</h4></div>
<br>
<br>
<br>
</body>
</html>
