<!DOCTYPE html>
<html>
<head>
<script src="../js/jquery-1.4.1.js" type="text/javascript"></script>
 <script>
 /* function sendMail(){
            var MandrillApi = {};
            MandrillApi.key = 'AIzaSyDp2W8xUjrvtSRnoykxUJ7co4cTD86w1tI';
            MandrillApi.theform = $('#demo');

            MandrillApi.arrayBufferToProperBase64 = function(buffer) {
                var binary = '';
                var bytes = new Uint8Array( buffer );
                var len = bytes.byteLength;
                for (var i = 0; i < len; i++) {
                    binary += String.fromCharCode( bytes[ i ] );
                }
                return window.btoa( binary );
            };

            MandrillApi.processFile = function() {
                'use strict';
                var theform = this.theform;
                console.log(theform.find('input[type=file]'));
                var thefile = theform.find('input[type=file]')[0].files[0];
                var reader = new FileReader();
                var thefiledata;
                var self = this;
                thefiledata = reader.readAsArrayBuffer(thefile);

                reader.onloadend = function () {
                    /*PUSH FILE CONTENTS TO THE CALLBACK THAT SENDS THE MESSAGE
                    MandrillApi.sendEmail(self.arrayBufferToProperBase64(reader.result));
                };
            };

            MandrillApi.sendEmail = function(fileData) {
                'use strict';
                var theApiData = {};
                var thefile = this.theform.find('input[type=file]')[0].files[0];
                var thefiledata = fileData;

                theApiData.key = this.key;
                theApiData.message = {
                    "html": $("#html").val(), //add your html here
                    "text": "", //add your text here
                    "subject": "This is a demo email", //add your subject here
                    "from_email": "manikanta4705@gmail.com", //add your from field here
                    "from_name": "manikanta", //add your from name here
                    "to": [
                        {
                            "email": "purnapcn@gmail.com", //add your to email addr here
                            "name": "",
                            "type": "to" //bcc or cc
                        }
                    ],
                    "attachments": [
                        {
                            "type": thefile.type, //file type
                            "name": thefile.name, //file name
                            "content": thefiledata //file contents
                        }
                    ],
                };
                //now send the request
                $.ajax({
                    url: "https://mandrillapp.com/api/1.0/messages/send.json",
                    type: 'POST',
                    data: theApiData,
                    async: false,
                }).done(function (data) {
                    var r = JSON.stringify(data);
                    $("#output").val(JSON.stringify(r), null, '\t');
                });
            };

            //init
            MandrillApi.theform.submit(function(e){
                e.preventDefault();
                MandrillApi.processFile();
            });
            }; */
            
            function sendMail() {
                $.ajax({
                  type: 'POST',
                  url: 'https://mandrillapp.com/api/1.0/messages/send.json',
                  data: {
                    'key': 'YOUR API KEY HERE',
                    'message': {
                      'from_email': 'manikanta4705@gmail.com',
                      'to': [
                          {
                            'email': 'purnapcn@gmail.com',
                            'name': 'RECIPIENT NAME (OPTIONAL)',
                            'type': 'to'
                          }
                        ],
                      'autotext': 'true',
                      'subject': 'YOUR SUBJECT HERE!',
                      'html': 'YOUR EMAIL CONTENT HERE! YOU CAN USE HTML!'
                    }
                  }
                 }).done(function(response) {
                   console.log(response); // if you're into that sorta thing
                 });
            }     
     
</script>
</head>
<body>


<input name="pmSubmit" type="submit" value="Invite" onclick="sendMail()"/>

<input type="file"/>

</body>
</html>


