<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sri Vaishnavi Transport Company</title><link rel="icon" type="image/png" href="/app/images/SRI VAISHNAVI icon.png" />
 <script src="../js/logout.js" type="text/javascript"></script> 
<!-- Bootstrap Styles-->
<link href="../css/bootstrap.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="../css/font-awesome.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/82d7bbb080.js"></script>
<!-- Morris Chart Styles-->
<link href="../js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<!-- Custom Styles-->
<link href="../css/custom-styles.css" rel="stylesheet" />
<!-- Google Fonts-->
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css' />

<script src="../js/jquery-1.4.1.js" type="text/javascript"></script>
<script src="../js/get_trucks_maintenance_cost.js" type="text/javascript"></script>
<script src="../js/report_to_excel.js" type="text/javascript"></script>
<style type="text/css">
 table, th, td{
 border: 1px solid black;
 	border-collapse: separate;  border-spacing: 5px;
	padding:3px; 

} 
</style>
<script>

	 
$(document).ready( function() {
	

	    var date = new Date();
	    var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
	    var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
	    
	    var month = (firstDay.getMonth() + 1);               
	    var day = firstDay.getDate();
	    if(month < 10) 
	        month = "0" + month;
	    if(day < 10) 
	        day = "0" + day;
	    var first_day = firstDay.getFullYear() + '-' + month + '-' + day;
	    
	    var lmonth = (lastDay.getMonth() + 1);               
	    var lday = lastDay.getDate();
	    if(lmonth < 10) 
	    	lmonth = "0" + lmonth;
	    if(lday < 10) 
	    	lday = "0" + lday;
	    var last_day = lastDay.getFullYear() + '-' + lmonth + '-' + lday;
	   $('#lower_date').val(first_day);
	    $('#upper_date').val(last_day);
});


</script>
</head>
<body onload="getMaintenanceCost()">
<div id="wrapper">
		<nav class="navbar navbar-default top-navbar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="lg-view">
					Sri Vaishnavi Transport Company</a>
					<a href="#" class="sm-view">
						Svtc</a><!-- <a class="navbar-brand" href="index.html">HOOP</a>-->
			</div>
			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li><a href="#">
								<div>
									<i class="fa fa-wrench fa-fw"></i> settings
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="login.html">
								<div onclick="logout()">
									<i class="fa fa-sign-out fa-fw"></i>Log out
								</div>
						</a></li>
						<!-- /.dropdown -->
					</ul>
		</nav>
		
	<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li><a class="active-menu" href="trucks_daily_status_admin.html"><i class="fa fa-user"></i>Trucks Status</a>
					</li>					
					<li><a href="get_factories_cumulative_today_report.html"><i class="fa fa-map-o"></i>Factory Report</a>
					</li>
					<li><a href="get_factory_dispatch_today_report.html"><i class="fa fa-map-o"></i>Dispatch Report</a>
					</li>
					<li><a href="get_factory_dispatch_by_date_admin.html"><i class="fa fa-map-o"></i>Report By Truck</a>
					</li>
					<li><a href="get_factory_fuel_by_date_admin.html"><i class="fa fa-map-o"></i>Fuel Report</a>
					</li>
					<li><a href="get_trucks_trip_count.html"><i class="fa fa-map-o"></i>Trip Count</a>
					</li>
					
					<li><a href="get_trucks_maintenance_cost.html"><i class="fa fa-map-o"></i>Maintenance</a>
					</li>
					<li><a href="get_truck_maintenance_expenditure.html"><i class="fa fa-map-o"></i>Expenditure</a>
					</li>
					<li><a href="trucks_daily_status_list.html"><i class="fa fa-map-o"></i>Dispatch Status</a>
					</li>
					<li onclick="window.open('payment.html','_blank')"><a href="#"><i class="fa fa-map-o" ></i>Accounts</a>
					</li>
				</ul>
			</div>
		</nav>

		<div id="page-wrapper">
			<div id="page-inner">
	<div style="text-align: center;">
<label >Lower Date : </label><input type="date" id="lower_date" style='border: 2px solid #008fb3;
    border-radius: 4px;'/>
    <br><br>
  <label >Upper Date : </label><input type="date" id="upper_date" style='border: 2px solid #008fb3;
    border-radius: 4px;'/>
<br><br>

<input type="button" id="get" value="get" onclick="getMaintenanceCost()"/>

<br><br>
<table id="table1" style="display:none"></table>

</div>
<br><br>
	<div id="export_button" style="display:none">
	<button id="btnExport"  onclick="return fnExcelReport();"> Export </button>  
	</div>
	<iframe id="txtArea1" style="display:none"></iframe>
			
	</div>
	</div>
	<!-- /. WRAPPER  -->
		<!-- JS Scripts-->
		<!-- jQuery Js -->
		<script src="../js/jquery-1.10.2.js"></script>
		<!-- Bootstrap Js -->
		<script src="../js/bootstrap.min.js"></script>
		<!-- Metis Menu Js -->
		<script src="../js/jquery.metisMenu.js"></script>
		<!-- Morris Chart Js -->
		<script src="../js/morris/raphael-2.1.0.min.js"></script> <script
			src="../js/morris/morris.js"></script>
		<!-- Custom Js -->
		<script src="../js/custom-scripts.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>	 
	</body>
</html>