<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Transport</title>
<script src="../js/jquery-1.4.1.js" type="text/javascript"></script>
<script src="../js/get_trucks_service_by_date.js" type="text/javascript"></script>

	<style >
	table, th, td {
	 border: 1px solid black;
	 }
	</style>
</head>
<body>
	<table>
		<tr> 
		<td>Lower Date</td> 
		<td><input type="date" id="lower_date" /></td> 
		</tr> 
		<tr> 
		<td>Upper Date</td> 
		<td><input type="date" id="upper_date" /></td> 
		</tr>
		</table>
		
	<input type="button" id="get" value="Get"> <br />
		<br />
		<div id="resultDiv"> </div>
		
		<label style="position:absolute; left:247px; font-size:22px">Trucks Service Details</label>
		<br><br>

	<div id="trucksService">	
	</div>
		
		
		
</body>
</html>