<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sri Vaishnavi Transport Company</title><link rel="icon" type="image/png" href="/app/images/SRI VAISHNAVI icon.png" />
 <script src="../js/logout.js" type="text/javascript"></script> 
<!-- Bootstrap Styles-->
<link href="../css/bootstrap.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="../css/font-awesome.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/82d7bbb080.js"></script>
<!-- Morris Chart Styles-->
<link href="../js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<!-- Custom Styles-->
<link href="../css/custom-styles.css" rel="stylesheet" />
<!-- Google Fonts-->
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css' />
<script src="../js/jquery-1.4.1.js" type="text/javascript"></script>
<script src="../js/get_factory_dispatch_monthly_report.js"
	type="text/javascript"></script>
<script src="../js/driver.js" type="text/javascript"></script>
<script src="../js/truck.js" type="text/javascript"></script>
<script src="../js/sparepart.js" type="text/javascript"></script>
<script src="../js/exportEx.js" type="text/javascript"></script>
<style>
table, th, td {
	border: 1.5px solid black;text-align:center;
}
</style>
</head>
<body onload="getReport()">
	<div id="wrapper">
		<nav class="navbar navbar-default top-navbar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="lg-view">
					Sri Vaishnavi Transport Company</a>
					<a href="#" class="sm-view">
						Svtc</a>	<!-- <a class="navbar-brand" href="index.html">HOOP</a>-->
			</div>
			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li><a href="#">
								<div>
									<i class="fa fa-wrench fa-fw"></i> settings
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="login.html">
								<div onclick="logout()">
									<i class="fa fa-sign-out fa-fw"></i>Log out
								</div>
						</a></li>
						<!-- /.dropdown -->
					</ul>
		</nav>
		
	<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li><a class="active-menu" href="trucks_daily_status_admin.html"><i class="fa fa-user"></i>Trucks Status</a>
					</li>					
					<li><a href="#"><i class="fa fa-map-o"></i>Factory Wise Report <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="get_factories_cumulative_today_report.html">By Day</a></li>
							<li><a href="get_factories_cumulative_weekly_report.html">By Week</a></li>
							<li><a href="get_factories_cumulative_monthly_report.html">By Month</a></li>
						</ul>
					</li>
					<li><a href="#"><i class="fa fa-map-o"></i>Dispatch Report<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
							<li><a href="get_factory_dispatch_today_report.html">By Day</a></li>
							<li><a href="get_factory_dispatch_weekly_report.html">By Week</a></li>
							<li><a href="get_factory_dispatch_monthly_report.html">By Month</a></li>
						</ul>
					</li>
					<li><a href="get_factory_dispatch_by_date_admin.html"><i class="fa fa-map-o"></i>Report By Truck</span></a>
					</li>
					<li><a href="get_factory_fuel_by_date_admin.html"><i class="fa fa-map-o"></i>Fuel Report</a>
					</li>
					
				</ul>
			</div>
		</nav>
	<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
	<h2 style="text-align: center; text-decoration: underline;">Factory
		Dispatch Details</h2>
	<br><br>
		  <!-- <div class="form_1"> -->
<form action="" name="add">
	<table style="text-align: center;">
		<tr>
			<td>Lower Date</td>
			<td><input type="date" id="lower_date" /></td>
		</tr>
		<tr>
			<td>Upper Date</td>
			<td><input type="date" id="upper_date" /></td>
		</tr>
	</table>
	<br>
	<input type="button" id="get" value="Get" onclick="getReport()">
	<br />
	<br />
	<br>
 	<div id="svtc_table" style="display: none;">
		<label style=" left: 247px; font-size: 22px;text-decoration:underline;">
		Svtc Report</label>
		<br><br>  
		<table id="dataTab" style="overflow:auto; "></table>
		<br><br> 
	</div>
	<div id="otherTable" style="display: none;">
 	<label style=" left: 247px; font-size: 22px;text-decoration:underline;">
		Other Report</label>
		<br><br>   
	<table id="outsideDispatch" style="overflow:auto" ></table>
		<br><br>
	</div>
  	<div id="export_button" style="display:none;">
	<button id="btnExport"  onclick="return fnExcelReport();"> Export </button>  
	</div>  
	<iframe id="txtArea1" style="display:none"></iframe>
	
	
	</div>
		</div>
	
	<!-- /. WRAPPER  -->
		<!-- JS Scripts-->
		<!-- jQuery Js -->
		<script src="../js/jquery-1.10.2.js"></script>
		<!-- Bootstrap Js -->
		<script src="../js/bootstrap.min.js"></script>
		<!-- Metis Menu Js -->
		<script src="../js/jquery.metisMenu.js"></script>
		<!-- Morris Chart Js -->
		<script src="../js/morris/raphael-2.1.0.min.js"></script> <script
			src="../js/morris/morris.js"></script>
		<!-- Custom Js -->
		<script src="../js/custom-scripts.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
</body>
</html>
