<!DOCTYPE html>
<html>
  <head>
    <title>HOOP</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="../../app/css/styles.css" media="all" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <script src="../../app/js/jquery-1.4.1.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  
  <script>
  var imageBytes;
  var imageType;
  var openFile = function(event) {
	    var input = event.target;

	    var reader = new FileReader();
	    reader.onload = function(){
	      var dataURL = reader.result;
	      var output = document.getElementById('output');
	      output.src = dataURL;
	      document.getElementById('imageBytes').innerHTML = dataURL.split(";base64,")[1] ;
	      imageBytes = dataURL.split(";base64,")[1] ;
	      imageType = dataURL.split(";base64,")[0].split("data:image/")[1] ;
	    };
	    reader.readAsDataURL(input.files[0]);
	  };
	  
	function uploadImage(){
	
		var requestData = new Object();
		requestData.image_bytes_string = imageBytes;
		requestData.image_type = imageType;
		requestData.bucket = "truckimages";
		requestData.folder = "fitness";
		requestData.primary_id = "123";
		
        $.ajax({
            type: 'POST',
            url: '/transport/image/uploadToAwsTest',															   
            dataType: 'json',
            data: JSON.stringify(requestData),
            contentType: 'application/json; charset=utf-8',
            success: function(response) {	         	
            	            	
            	$('#result').html("<center><font size=16>Image Added Successfully.</font></center> <br> <center><font size=16>Thank You.</font></center>"); 
            	
            },
            error: function(error) {
            	$('#result').html("<center><font size=14>Image could not be added.</font></center>");
            }
        });
	}
	


  </script>
<style>

</style>

</head>
  <body>
    <header class="clearfix">
	  
	  <div style="text-align: center; vertical-align:middle; font-size:30px">
			HOOP
      </div>

    </header>
	<br>
	<br>
	<input type='file' accept='image/*' onchange='openFile(event)'><br>
	<img id='output'>
	<div id="imageBytes"></div>
	
	<input type=button id="insert" value="Insert" onclick="uploadImage()">
	
	<br><br>
	
	
  </body>
</html>