<!DOCTYPE html>
<html>
  <head>
    <title>Transport</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- <link href="../../app/css/styles.css" media="all" rel="stylesheet"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <link href="../css/styles_3.css" media="all" rel="stylesheet">
    <script src="../js/jquery-1.4.1.js" type="text/javascript"></script>
    <script src="../js/log.js" type="text/javascript"></script>
    <script src="../js/driver.js" type="text/javascript"></script>
    <script src="../js/truck.js" type="text/javascript"></script>
<script src="../js/sparepart.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
  <style>
		table, th, td {
		    border: 1px solid black;
		}
  </style>

</head>
 <body onLoad="addOption_list2()">
 <form action="" name="add" > 
    <header >
	  
	  <div style="text-align: center; vertical-align:middle; font-size:30px">
			Transport
      </div>

    </header>

	<h2 style="text-align: center; text-decoration: underline;">Log Report</h2>
	
   <br>
	 <table align=center border="0px solid black">
		<tr >
			<td>
				<span>	
				<label>Log</label>
				<select id="action">
					  <option selected="selected" style="display:none">Select</option>
					  <option value="storage dispatch">storage dispatch</option>							  
					  <option value="storage invoice">storage invoice</option>
					  <option value="storage incoming load">storage incoming load</option>
					  <option value="factory dispatch">factory dispatch</option>
					  <option value="factory invoice">factory invoice</option>
					  <option value="seller dispatch">seller dispatch</option>
					  <option value="seller invoice">seller invoice</option>
					  <option value="seller purchase">seller purchase</option>
					  <option value="truck parts quote">truck parts quote</option>
					  
					  <option value="storage fuel">storage fuel</option>
					  <option value="factory fuel">factory fuel</option>
					  <option value="seller fuel">seller fuel</option>				  
					  <option value="truck allotment">truck allotment</option>
					  <option value="truck details">truck details</option>
					  <option value="truck health history">truck health history</option>					  
					  <option value="truck service">truck service</option>
					  <option value="trip details">factory trip details</option>
					  <option value="seller trip details">seller trip details</option>
					  <option value="storage trip details">storage trip details</option>
					  <option value="spare part allotment">spare part allotment</option>
					  						  			  					  
				</select>
				
				<input type=text id="invoice_number" style="visibility:hidden; width:0">
				
				<select NAME="truck_list" id="truck_list" onchange=testChange2() style="visibility:hidden; width:0">
					<option selected="selected" style="display:none">Select</option>				
				</select>
				<input type=text id="truck_id" >
				
				<input type="button" id="get" value="Submit"/>
			<!-- 	<div id="resultDiv"> </div> -->
				</span>
				
			</td>
		</tr>
		
	</table>	
	
		<div id="storageFuel">	
	</div>
</form>
	
	
  </body>
</html>
