<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sri Vaishnavi Transport Company</title><link rel="icon" type="image/png" href="/app/images/SRI VAISHNAVI icon.png" />
 <script src="../js/logout.js" type="text/javascript"></script> 
<!-- Bootstrap Styles-->
<link href="../css/bootstrap.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="../css/font-awesome.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/82d7bbb080.js"></script>
<!-- Morris Chart Styles-->
<link href="../js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<!-- Custom Styles-->
<link href="../css/custom-styles.css" rel="stylesheet" />
<!-- Google Fonts-->
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css' />

<script src="../js/jquery-1.4.1.js" type="text/javascript"></script>

<script>
var trucks;
var truck_numbers;

var tableData="";
var tableRow="";
var table="";
var x="";

var trucksStatus;
	
var resultObject;
	 
$(document).ready( function() {
    var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if(month < 10) 
        month = "0" + month;
    if(day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
    $('#selected_date').val(today);
});


var truck_array= new Array();

function gridTrucks(){
		$.ajax({
			url: '/transport/trucks/all/grid/get',
			type: 'GET',
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			success: function(response) {
				 trucks=response.TruckDetails;
				 truck_numbers=response.truck_number;
				 
				 truck_array = truck_numbers.toString().split(",");
				 
				 statusTracking();
				
	
			},
			error: function(error) {
				console.log(error);
			}
		});
}

function statusTracking() {

	$("table").hide();
	
    	var selected_date = $('#selected_date').val();
        $.ajax({
            type: 'GET',
            url: '/transport/trucks/status/tracking/get?'+'selected_date='+selected_date,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function(response) {

            	 trucksStatus = response.trucksStatus;	            	
            	 grid(truck_array);
            },
            error: function(error) {
                console.log(error);
            }
        });
 
};

function ar(truck,operation,operation_id){
//	alert(operation);
//	alert(operation_id);
	window.open("/app/views/current_month_truck_status.html?"+
			"truck="+truck+"&operation="+operation+"&operation_id="+operation_id );

}

function grid(array){
	
	var ar=(array.length)/5;
			 for(var i =0; i<ar; i++)
			 {
			 	for(var k=0; k<5; k++)
			 		{
			
				resultObject = search(array[i*5+k], trucksStatus);
				 function search(nameKey, myArray){
					    for (var j=0; j < myArray.length; j++) {
					        if (myArray[j].truck_number === nameKey) {
					        		operation= myArray[j].operation;
					        		operation_id= myArray[j].operation_id;
						        if(operation=='in transit to factory' ){
						        	
						        	if(k==0){	
						        		tableData="<tr>"+ tableData+"<td bgcolor='#4dd2ff' style='text-align:center;'    onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" ;
						        	}
						        	if(k==4){	
						        		tableData= tableData+"<td bgcolor='#4dd2ff' style='text-align:center;'   onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" +"</tr>";
						        	}
						        	
						        	if(k>0 & k<4){
						        		tableData=tableData+"<td bgcolor='#4dd2ff' style='text-align:center;'   onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>";
						        	}
						        }
						        
						        if(operation=='unloading'){
							        	
							        	if(k==0){	
							        		tableData="<tr>"+ tableData+"<td bgcolor=#66ff66 style='text-align:center;'   onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" ;
							        	}
							        	if(k==4){	
							        		tableData= tableData+"<td bgcolor=#66ff66 style='text-align:center;'   onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" +"</tr>";
							        	}
							        	
							        	if(k>0 & k<4){
							        		tableData=tableData+"<td bgcolor=#66ff66 style='text-align:center; '  onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>";
							        	}
							        }
						        if(operation=='waiting in factory office for loading' | operation=='waiting in branch office for next assignment'){
						        	
						        	if(k==0){	
						        		tableData="<tr>"+ tableData+"<td bgcolor=#ff0000 style='text-align:center; '  onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" ;
						        	}
						        	if(k==4){	
						        		tableData= tableData+"<td bgcolor=#ff0000 style='text-align:center; '  onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" +"</tr>";
						        	}
						        	
						        	if(k>0 & k<4){
						        		tableData=tableData+"<td bgcolor=#ff0000 style='text-align:center;'   onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>";
						        	}
						        }
								if(operation=='loading'){
						        	
						        	if(k==0){	
						        		tableData="<tr>"+ tableData+"<td bgcolor=#ffff33 style='text-align:center;'   onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" ;
						        	}
						        	if(k==4){	
						        		tableData= tableData+"<td bgcolor=#ffff33 style='text-align:center; '  onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" +"</tr>";
						        	}
						        	
						        	if(k>0 & k<4){
						        		tableData=tableData+"<td bgcolor=#ffff33 style='text-align:center;'   onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>";
						        	}
						        } 
								if(operation=='waiting'){
						        	
						        	if(k==0){	
						        		tableData="<tr>"+ tableData+"<td bgcolor=#FF8C00 style='text-align:center;'   onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" ;
						        	}
						        	if(k==4){	
						        		tableData= tableData+"<td bgcolor=#FF8C00 style='text-align:center;'   onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" +"</tr>";
						        	}
						        	
						        	if(k>0 & k<4){
						        		tableData=tableData+"<td  bgcolor=#FF8C00 style='text-align:center;'   onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>";
						        	}
						        }
								if(operation=='in transit from factory'){
						        	
						        	if(k==0){	
						        		tableData="<tr>"+ tableData+"<td bgcolor=#808080 style='text-align:center;'  onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" ;
						        	}
						        	if(k==4){	
						        		tableData= tableData+"<td bgcolor=#808080 style='text-align:center; '  onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>" +"</tr>";
						        	}
						        	
						        	if(k>0 & k<4){
						        		tableData=tableData+"<td bgcolor=#808080 style='text-align:center;'   onClick='ar(\""+array[i*5+k]+"\",\""+operation+"\",\""+operation_id+"\")'>"+array[i*5+k]+"</td>";
						        	}
						        }
					        }
					    }
					}
			 			
			 		} 	
			// 	document.write("</tr>"); 
			 	tableRow=tableData;
			 	
			 	
			 }
			 
		//	 document.write("</table>");
			 table="<center><table style='font-size:13px; '>"+tableRow+"</table></center>"
			 
			 $('#table').html(table); 
			 
			 tableData = "";
			
}



</script>	

</head>
<body onload="gridTrucks();">
<div id="wrapper">
		<nav class="navbar navbar-default top-navbar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#"
					style="font-size: 25px; padding-left: 10px; text-align: center; color: white;">Sri Vaishnavi Transport Company</a>
				<!-- <a class="navbar-brand" href="index.html">HOOP</a>-->
			</div>
			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li><a href="#">
								<div>
									<i class="fa fa-wrench fa-fw"></i> settings
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="login.html">
								<div onclick="logout()">
									<i class="fa fa-sign-out fa-fw"></i>Log out
								</div>
						</a></li>
						<!-- /.dropdown -->
					</ul>
		</nav>
		
	<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li><a class="active-menu" href="#"><i class="fa fa-user"></i>Driver Allotment <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="add_driver_allotment_to_truck.html">New</a></li>			
							<li><a href="get_driver_allotment_to_truck_by_date.html">Get</a>
								</li>
								<li><a href="update_driver_allotment_to_truck.html">Edit</a></li>
							<li><a href="#">Delete</a></li>
						</ul></li>
					
					<li><a href="#"><i class="fa fa-map-o"></i> New Driver <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="add_driver_details.html">Add</a></li>			
							<li><a href="get_driver_details.html">Get</a></li>
								<li><a href="update_driver_details.html">Edit</a></li>
							<li><a href="#">Delete</a></li>
						</ul></li>
					<li><a href="#"><i class="fa fa-map-o"></i>Fuel <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="add_factory_fuel.html">Add</a></li>
							<li><a href="get_factory_fuel_by_date.html">Get</a></li>
							<li><a href="#">Edit</a></li>
							<li><a href="#">Delete</a></li>
						</ul></li>
						<li><a href="#"><i class="fa fa-map-o"></i>Driver Change<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="add_factory_driver_change.html">Factory</a></li>			
							<li><a href="add_storage_driver_change.html">Nikhita</a></li>
								<li><a href="add_seller_driver_change.html">Kamakshi</a></li>
							
						</ul></li>
						<li><a href="get_unload_report.html"><i class="fa fa-map-o"></i>Unload Report</a>
						</li>
						<li><a href="trucks_daily_status.html"><i class="fa fa-map-o"></i>Trucks Status</a>
						</li>
						<li><a href="get_factory_dispatch_by_date.html"><i class="fa fa-map-o"></i>Dispatch Details</a>
						</li>
						
					
					<li><a href="#"><i class="fa fa-fw fa-money"></i>Reports</a></li>
					<li><a href="#"><i class="fa fa-fw fa-money"></i>Accounts</a></li>
				</ul>
			</div>
		</nav>
		<div id="page-wrapper">
			<div id="page-inner">
	<div style="text-align: center;">
<label >Date : </label><input type="date" id="selected_date" style='border: 2px solid #008fb3;
    border-radius: 4px;'/>
<br><br>

<input type="button" id="get" value="get" onclick="statusTracking()"/>
<br>
<div class="form_6">
<div id="table"></div>
</div>
<br>
<ul class="legend" style="text-align: center;margin: auto;width: 410px;">
    
    <li><span class="loading"></span> Loading</li>
    <li><span class="inTransitToFactory"></span> In Transit To Factory</li>
    <li><span class="waiting"></span> Waiting</li>
    <li><span class="inTransitFromFactory"></span> In Transit From Factory</li>
    <li><span class="unloading"></span> Unloading</li>
    <li><span class="idle"></span> Idle</li>
</ul>

</div>
			
	</div>
	</div>
	<!-- /. WRAPPER  -->
		<!-- JS Scripts-->
		<!-- jQuery Js -->
		<script src="../js/jquery-1.10.2.js"></script>
		<!-- Bootstrap Js -->
		<script src="../js/bootstrap.min.js"></script>
		<!-- Metis Menu Js -->
		<script src="../js/jquery.metisMenu.js"></script>
		<!-- Morris Chart Js -->
		<script src="../js/morris/raphael-2.1.0.min.js"></script> <script
			src="../js/morris/morris.js"></script>
		<!-- Custom Js -->
		<script src="../js/custom-scripts.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>	 
	</body>
</html>