<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sri Vaishnavi Transport Company</title><link rel="icon" type="image/png" href="/app/images/SRI VAISHNAVI icon.png" />
 <script src="../js/logout.js" type="text/javascript"></script> 
<!-- Bootstrap Styles-->
<link href="../css/bootstrap.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="../css/font-awesome.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/82d7bbb080.js"></script>
<!-- Morris Chart Styles-->
<link href="../js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<!-- Custom Styles-->
<link href="../css/custom-styles.css" rel="stylesheet" />
<!-- Google Fonts-->
 <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
 <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css' />
<script src="../js/jquery-1.4.1.js" type="text/javascript"></script>
<script src="../js/get_truck_status.js" type="text/javascript"></script>
<script src="../js/getLoginUserDetails.js" type="text/javascript"></script>
<script src="../js/trucks_suggestion.js" type="text/javascript"></script>

</head>
<body onload="userDetails();getTrucksSuggestions();">
	<div id="wrapper">
		<nav class="navbar navbar-default top-navbar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="lg-view">
					Sri Vaishnavi Transport Company</a>
					<a href="#" class="sm-view">
						Svtc</a><!-- <a class="navbar-brand" href="index.html">HOOP</a>-->
			</div>
			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li><a href="#">
								<div>
									<i class="fa fa-wrench fa-fw"></i> settings
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="login.html">
								<div onclick="logout()">
									<i class="fa fa-sign-out fa-fw"></i>Log out
								</div>
						</a></li>
						<!-- /.dropdown -->
					</ul>
		</nav>
		
<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li><a class="active-menu" href="truck_status.html"><i class="fa fa-user"></i> Status </a>
						</li>
					<li><a href="get_factory_dispatch_report.html"><i class="fa fa-map-o"></i> Report </a>
					</li>
					<li><a href="add_fuel_factory_manager.html"><i class="fa fa-map-o"></i>Fuel </a>
						</li>
				</ul>
			</div>
		</nav>
		
	<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
			<h2 style="text-align: center; text-decoration: underline; margin-top:100px; ">Status</h2>
	<br><br>
	<div class="form_1">
			<form action="" name="add">
		
		<!-- <div id="Message" align=center style="color: #0000FF; font-weight: bold"></div> -->
		<label>Truck Number</label>
		<input type="text"  id="truck_number" >
		<br><br>
		<input type="button" id="get" value="Get">
		<br><br>
		<div id="current">
		<label>Current Status</label>
		<input type="text"  id="current_status" disabled >
		<br><br>
		</div>
		<div id="loadingDate"  style="display:none;  ">
		<label>Loading Date</label>
		<input type="text" id="loading_date" disabled style=" width:230px;"/>
		<br><br>
		</div>
		<div id="driver"  style="display:none;">
		<label>Driver Name</label>
		<input type="text" id="driver_name" disabled style=" width:230px;"/>
		<br><br>
		</div>
		
		<h3>Update Status</h3>
		<br><br>
		<div id="factory_office" style="display:none;">
		<label>Status</label> 
			<select name="dispatch_status" id="dispatch_status" onchange="waiting();idle();unloading();" >
					<option selected="selected"  style="display: none">Select</option>
					<option value="waiting in factory office for loading" style="display:none;" id="waiting_in_factory_for_loading">Reached Factory Office</option>
					<option value="loading" id="load" style="display:none;">Loading</option>
					<option value="in transit from factory" style="display:none;" id="in_transit_from_factory">In Transit From Factory</option>
					<option value="unloading" style="display:none;" id="factory_unloading">Unloading</option>
					<option value="waiting" style="display:none;" id="factory_waiting">Waiting </option>
					<option value="in transit to factory" style="display:none;" id="start" >Start Trip</option>
					<option value="idle" id="idle" style="display:none;" >Idle</option>
			</select><br><br>
			</div>
			<div class="a">
			<div id="branch_office" style="display:none;">
			<label>Status</label> 
			<select name="dispatch_status" id="branch_dispatch_status" onchange="waiting();idle();unloading();" >
					<option selected="selected" style="display: none">Select</option>
					<option value="waiting in factory office for loading" style="display:none;" id="waiting_in_branch_for_next_assignment">Reached Branch Office</option>
					<option value="unloading" id="branch_unloading" style="display:none;">Unloading</option>
					<option value="waiting" id="branch_waiting" style="display:none;">Waiting </option>
					<option value="in transit to factory" style="display:none;" id="branch_start" >Start Trip</option>
					<option value="idle" id="branch_idle" style="display:none;" >Idle</option>
			</select><br><br>
			</div>
			
			 <!-- <input type="text" placeholder="Enter waiting location" id="waiting_location" style="visibility:hidden; width:0;margin-left: 300px;"/>
			<br> --> 
			<input type="text" placeholder="Enter Reason" id="idle_reason" style="visibility:hidden; width:0;margin-left: 300px;"/>
			<select name="waiting_location"
					id="waiting_location" style="visibility:hidden;margin:auto;">
					<option selected="selected" style="display: none">Select</option>
					<option value="skca">SKCA</option>
					<option value="hayathnagar">Hayath Nagar</option>
					<option value="shankarpally">Shankarpally</option>
				</select>
			<textarea rows="5" cols="29" placeholder="Enter Unloading locations"  id="unload_report_locations_id" style="display:none; margin-left: 475px;"> </textarea>
				<br>
				<br>
			<input type="button" id="update" value="Update">
		</div>
				</form>
				</div>
	<!-- /. WRAPPER  -->
		<!-- JS Scripts-->
		<!-- jQuery Js -->
		<script src="../js/jquery-1.10.2.js"></script>
		<!-- Bootstrap Js -->
		<script src="../js/bootstrap.min.js"></script>
		<!-- Metis Menu Js -->
		<script src="../js/jquery.metisMenu.js"></script>
		<!-- Morris Chart Js -->
		<script src="../js/morris/raphael-2.1.0.min.js"></script> <script
			src="../js/morris/morris.js"></script>
		<!-- Custom Js -->
		<script src="../js/custom-scripts.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="../js/jquery-1.10.2.js" type="text/javascript"></script>
      <script src="../js/jquery-ui.js" type="text/javascript"></script>
</body>
</html>