<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>

 h2,h3,h4,h5,h6
 {
     padding: 1px;margin: 0;
 }
</style>
</head>
<body>
<table align="center" style="width:80%;height:70%;">
<tr>
<td colspan="5" style='text-align:center;'><h3> VENDOR CODE:410090051</h3></td>
</tr>
<tr>
<td colspan="1" style='text-align:center;'>VENDOR CODE</td>
<td colspan="1" style='text-align:center;'>VENDOR CODE</td>
<td colspan="1" style='text-align:center;'>VENDOR CODE</td>
<td colspan="1" style='text-align:center;'>VENDOR CODE</td>
<td colspan="1" style='text-align:center;'>VENDOR CODE</td>
</tr>
<tr>
<td colspan="4"  ></td>
<td colspan="1" align="left"><h4>PAN NO:AALHKJHK</h4></td>
</tr>
<tr>
<td colspan="4"  ></td>
<td colspan="1" align="left"><h4>BILL NO:034</h4></td>
</tr>
<tr>
<td colspan="4" ></td>
<td colspan="1" align="left"><h4>DATE:21/08/2017</h4></td>
</tr>
<tr>
<td colspan="2" align="left"><h4>TO,</h4></td>
<td colspan="3" ></td>
</tr>
<tr>
<td colspan="2" align="left"><h4>ZUARI CEMENT LTD</h4></td>
<td colspan="3" ></td>
</tr>
<tr>
<td colspan="2" align="left"><h4>SITAPURAM,DONDAPADU,</h4></td>
<td colspan="3" ></td>
</tr>
<tr>
<td colspan="2" align="left"><h4>SURYAPET DIST,TELANGANA,</h4></td>
<td colspan="3" ></td>
</tr>
<tr>
<td colspan="2" align="left"><h4>PIN NO:508246.</h4></td>
<td colspan="3" ></td>
</tr>
<tr>
<td colspan="2" align="left"><h4>GST NO:36AAACZ1270E1ZK</h4></td>
<td colspan="3" ></td>
</tr>
<tr>
<td colspan="2" align="left"><h4>PAN NO:AAACZ1270E</h4></td>
<td colspan="3" ></td>
</tr>
<tr>
<td colspan="4" align="left">Dondapadu to Zuari Cement Ltd Godowns,Miyapur,Nacharam,Moosapet,Nanded,For the month of july-2017</td>
<td colspan="1" ></td>
</tr>
<tr>
<td colspan="3" align="left">The Deails are furnished here under:</td>
<td colspan="2" ></td>
</tr>
</table>

</body>
</html>
