<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app ng-init="employee={empId:18,empName:'nani',empSal:10000}">
 
<p>Input something in the input box:</p>
<p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
Emp Name: <input type="text" value="{{employee.empName}}">
<br><br>
Emp id: <input type="text" ng-model="employee.empId">


<h1>Employee Id: {{employee.empId}}</h1>

</div>

</body>
</html>
